# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.auto.tfvars
terraform.tfvars
terraform.tfvars.json

*.tfplan

.DS_Store

.vscode/
.idea/

# Logs
*.log
