# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files containing secrets
*.auto.tfvars
terraform.tfvars.json

# Terraform plan files
*.tfplan

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log